nav(class="navbar navbar-default", role="navigation")
  div(class="navbar-header")
    button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
      span(class="sr-only") Toggle navigation
      span(class="icon-bar")
      span(class="icon-bar")
      span(class="icon-bar")
    a(class="navbar-brand", class="outline-inward" href="/") World Travler

  div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
    ul(class="nav navbar-nav navbar-right")
      li: a(href="/about") about
      li: a(href="/faq") F.A.Q
      li: a(href="/contact") Contact
