extends ../shared/template
block content
  h1 About
  <p>This Is a simple project I created at the Nashville Software School (NSS). <br/>
  You type in a city, google maps Finds that city, and then you type a start date you are going to visit and an end date you will be leaving.</br>
  Also if you like, upload a photo of the city! or just copy a URL.</p>
