extends ../shared/template
block content
  h1.animated.fadeInDown Contact Info
  p.animated.fadeInUp you like a website? or have any questions? Email me at
    span MikeB_Barreiro@yahoo.com
    | . More contact Info and information at
    br
    a.outline-inward(href='http://mikebbarreiro.github.io/') Mikebbarreiro.github.io
